.manual {
  background: #fff;
  margin-bottom: clamp(40px, 4vw + 1rem, 80px);
}
.manual__wrapper {
  padding: clamp(40px, 4vw + 1rem, 80px);
  align-items: center;
  justify-content: space-between;
}

.manual__title {
  text-wrap: nowrap;
  width: 100%;
}

@media (max-width: 700px) {
  .manual__wrapper.flex {
    flex-direction: column;
    gap: 40px;
  }
}
