.menu-type {
  ul {
    width: 314px;
    background: #fff;
    margin-bottom: 50px;
    border-radius: 0px 0px 6px 6px;
    li {
      padding: 16px;
      p {
        margin-right: auto;
      }
    }
  }
}

.menu-type__cell.flex {
  align-items: center;
}

.menu-type__cell-icon {
  margin-right: 16px;
}

.menu-type__title {
  background: #4c4d55;
  color: #fff;
  font-family: "Anonymous Pro";
  font-size: clamp(16px, 0.825rem + 0.49vw, 20px);
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.237px;
  padding: clamp(7px, 0.044rem + 1.09vw, 16px) 16px;
  border-radius: 6px 6px 0px 0px;
}
