@import url(../fonts/Anonymous_Pro/stylesheet.css);
@import url(../fonts/Arial/stylesheet.css);
@import url(../fonts/SF_pro/stylesheet.css);

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  color: #181b26;
  font-weight: 400;
}

body {
  font-family: "Arial";
  font-size: 16px;
  background: #f0f3f5;
  line-height: 16px;
  letter-spacing: 0.237px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.flex {
  display: flex;
  flex-direction: row;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

mark {
  color: #030228;
  background: rgb(228, 242, 248);
  font-size: 16px;
  line-height: 24px;
}

h1 {
  font-family: "Anonymous Pro";
  font-size: clamp(32px, 4vw + 0.8rem, 64px);
  letter-spacing: -1.92px;
  font-weight: 700;
}

p {
  line-height: 24px;
}

.gap {
  gap: 20px;
}

.mb-80 {
  margin-bottom: clamp(40px, 4vw + 1rem, 80px);
}
