.support {
  background: #181b26;
  padding: clamp(40px, -0.121rem + 7.28vw, 100px)
    clamp(16px, -2.67rem + 10.19vw, 100px);
  gap: 50px;
}

.window__support {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(16px, 0.65rem + 0.97vw, 24px);
  margin: 20px 16px;
  padding: 40px 16px 0px 16px;
  background: #fff;
  border-radius: 12px;
}
.window__support-text {
  font-size: clamp(26px, 1.013rem + 1.7vw, 40px);
  font-style: normal;
  font-weight: 700;
  line-height: clamp(36px, 2.075rem + 0.49vw, 40px);
  max-width: 822px;
  text-align: center;
}

.window__support-img-wrap {
  max-width: 861px;
}

.window__support-img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1000px) {
  .support.flex {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}
