<section class="about flex">
  <div class="window">
    <div class="window__header flex">
      <div class="window__header-icon">
        <img src="../images/window-img/toolbar-icon.svg" alt="" />
      </div>
      <div class="window__header-website-wrap flex">
        <div class="window__header-website-icon">
          <img src="../images/window-img/Lock.svg" alt="" />
        </div>
        <div class="window__header-website-title">htmlpractice.com</div>
      </div>
    </div>
    <div class="window__title">СЕО ТЕКСТ</div>
    <div class="window__content">
      Разнообразный и богатый опыт консультация с широким активом играет важную
      роль в формировании систем массового участия. Повседневная практика
      показывает, что рамки и место обучения кадров влечет за собой процесс
      внедрения и модернизации существенных финансовых и административных
      условий. С другой стороны начало повседневной работы по формированию
      позиции обеспечивает широкому кругу (специалистов) участие в формировании
      дальнейших направлений развития. Идейные соображения высшего порядка, а
      также начало повседневной работы по формированию позиции играет важную
      роль в формировании дальнейших направлений развития. Равным образом новая
      модель организационной деятельности требуют определения и уточнения
      направлений прогрессивного развития.
    </div>
  </div>
  <div class="about__img-wrap">
    <img class="about__img" src="../images/about-img/about-img.png" alt="" />
  </div>
</section>
