<div class="main-block">
  <div class="main-title flex">
    <h2>Атрибуты</h2>
  </div>
  <div class="main-block__tab flex">
    <div class="main-block__title">accesskey</div>
    <div class="main-block__desc">
      Имя окна или фрейма, куда браузер будет загружать документ.
    </div>
  </div>
  <div class="main-block__tab flex">
    <div class="main-block__title">accesskey</div>
    <div class="main-block__desc">
      Имя окна или фрейма, куда браузер будет загружать документ.
    </div>
  </div>
  <div class="main-block__tab flex">
    <div class="main-block__title">accesskey</div>
    <div class="main-block__desc">
      Имя окна или фрейма, куда браузер будет загружать документ.
    </div>
  </div>
  <div class="main-block__tab flex">
    <div class="main-block__title">accesskey</div>
    <div class="main-block__desc">
      Имя окна или фрейма, куда браузер будет загружать документ.
    </div>
  </div>
  <div class="main-block__tab flex">
    <div class="main-block__title">accesskey</div>
    <div class="main-block__desc">
      Имя окна или фрейма, куда браузер будет загружать документ.
    </div>
  </div>
  <div class="main-block__tab flex">
    <div class="main-block__title">accesskey</div>
    <div class="main-block__desc">
      Имя окна или фрейма, куда браузер будет загружать документ.
    </div>
  </div>
  <div class="main-block__tab flex">
    <div class="main-block__title">accesskey</div>
    <div class="main-block__desc">
      Имя окна или фрейма, куда браузер будет загружать документ.
    </div>
  </div>
  <div class="main-block__tab flex">
    <div class="main-block__title">accesskey</div>
    <div class="main-block__desc">
      Имя окна или фрейма, куда браузер будет загружать документ.
    </div>
  </div>
  <div class="main-block__tab flex">
    <div class="main-block__title">accesskey</div>
    <div class="main-block__desc">
      Имя окна или фрейма, куда браузер будет загружать документ.
    </div>
  </div>
  <div class="main-block__link">
    <span
      >Также для этого тега доступны <a href="#">универсальные атрибуты</a> и
      <a href="#">события</a>.</span
    >
  </div>
</div>
