<div class="cell">
  <div class="cell__lable">
    <div class="cell__lable-sym">A</div>
  </div>
  <div class="cell__table flex">
    <div class="table-item table-item_main flex">
      <div class="table-item-title">!adressfvvr</div>
      <img
        class="table-item-icon"
        src="../images/table-img/table-item-icon.svg"
        alt=""
      />
    </div>
    <div class="table-item table-item_main flex">
      <div class="table-item-title">!adresknjfvns</div>
      <img
        class="table-item-icon"
        src="../images/table-img/table-item-icon.svg"
        alt=""
      />
    </div>
    <div class="table-item table-item_main flex">
      <div class="table-item-title">!adress</div>
      <img
        class="table-item-icon"
        src="../images/table-img/table-item-icon.svg"
        alt=""
      />
    </div>
    <div class="table-item table-item_main flex">
      <div class="table-item-title">!adress</div>
      <img
        class="table-item-icon"
        src="../images/table-img/table-item-icon.svg"
        alt=""
      />
    </div>
    <div class="table-item table-item_main flex">
      <div class="table-item-title">!ss</div>
      <img
        class="table-item-icon"
        src="../images/table-img/table-item-icon.svg"
        alt=""
      />
    </div>
    <div class="table-item table-item_main flex">
      <div class="table-item-title">!adresvgjsngls</div>
      <img
        class="table-item-icon"
        src="../images/table-img/table-item-icon.svg"
        alt=""
      />
    </div>
    <div class="table-item table-item_main flex">
      <div class="table-item-title">!adress</div>
      <img
        class="table-item-icon"
        src="../images/table-img/table-item-icon.svg"
        alt=""
      />
    </div>
    <div class="table-item table-item_main flex">
      <div class="table-item-title">!adress</div>
      <img
        class="table-item-icon"
        src="../images/table-img/table-item-icon.svg"
        alt=""
      />
    </div>
    <div class="table-item table-item_main flex">
      <div class="table-item-title">!adjnjvwnrbress</div>
      <img
        class="table-item-icon"
        src="../images/table-img/table-item-icon.svg"
        alt=""
      />
    </div>
    <div class="table-item table-item_main flex">
      <div class="table-item-title">!adress</div>
      <img
        class="table-item-icon"
        src="../images/table-img/table-item-icon.svg"
        alt=""
      />
    </div>
    <div class="table-item table-item_main flex">
      <div class="table-item-title">!adress</div>
      <img
        class="table-item-icon"
        src="../images/table-img/table-item-icon.svg"
        alt=""
      />
    </div>
    <div class="table-item table-item_main flex">
      <div class="table-item-title">!adress</div>
      <img
        class="table-item-icon"
        src="../images/table-img/table-item-icon.svg"
        alt=""
      />
    </div>
    <div class="table-item table-item_main flex">
      <div class="table-item-title">!ress</div>
      <img
        class="table-item-icon"
        src="../images/table-img/table-item-icon.svg"
        alt=""
      />
    </div>
    <div class="table-item table-item_main flex">
      <div class="table-item-title">!adress</div>
      <img
        class="table-item-icon"
        src="../images/table-img/table-item-icon.svg"
        alt=""
      />
    </div>
    <div class="table-item table-item_main flex">
      <div class="table-item-title">!adress</div>
      <img
        class="table-item-icon"
        src="../images/table-img/table-item-icon.svg"
        alt=""
      />
    </div>
    <div class="table-item table-item_main flex">
      <div class="table-item-title">!adress</div>
      <img
        class="table-item-icon"
        src="../images/table-img/table-item-icon.svg"
        alt=""
      />
    </div>
    <div class="table-item table-item_main flex">
      <div class="table-item-title">!adrkrmgess</div>
      <img
        class="table-item-icon"
        src="../images/table-img/table-item-icon.svg"
        alt=""
      />
    </div>
    <div class="table-item table-item_main flex">
      <div class="table-item-title">!adress</div>
      <img
        class="table-item-icon"
        src="../images/table-img/table-item-icon.svg"
        alt=""
      />
    </div>
    <div class="table-item table-item_main flex">
      <div class="table-item-title">!ass</div>
      <img
        class="table-item-icon"
        src="../images/table-img/table-item-icon.svg"
        alt=""
      />
    </div>
    <div class="table-item table-item_main flex">
      <div class="table-item-title">!adress</div>
      <img
        class="table-item-icon"
        src="../images/table-img/table-item-icon.svg"
        alt=""
      />
    </div>
  </div>
</div>
