<footer class="footer flex">
  <a class="footer__logo flex" href="#">
    <img
      class="footer__logo-img"
      src="../images/header-img/header-img.svg"
      alt=""
    />
    <div class="footer__logo-title">htmlpractice</div>
  </a>
  <nav class="menu menu_footer flex">
    <ul>
      <li><a href="#">Справочник по HTML</a></li>
      <li><a href="#">Справочник по CSS</a></li>
      <li><a href="#">Закрепить навыки</a></li>
    </ul>
  </nav>
    <a class="privacy-policy" href="#" >Политика конфиденциальности</a>
</footer>


<script src ='min.js/main.min.js'></script>

</body>
</html>
