<header class="header flex">
  <a class="header__logo flex" href="#">
    <img
      class="header__logo-img"
      src="../images/header-img/header-img.svg"
      alt=""
    />
    <div class="header__logo-title">htmlpractice</div>
  </a>
  <nav class="menu flex">
    <ul>
      <li><a href="#">Справочник по HTML</a></li>
      <li><a href="#">Справочник по CSS</a></li>
      <li><a href="#">Закрепить навыки</a></li>
    </ul>
  </nav>
  <button class="btn-main">
    <div class="btn__title">Макеты для тренировки</div>
    <img class="btn__img" src="../images/btn-img/btn-main-img.svg" alt="" />
  </button>
</header>
