<section class="manual-html">
  <div class="manual-html__wrapper flex container">
    <h1 class="manual-html__title">Справочник по HTML</h1>
    <div class="search__wrapper">
      <div class="search__input-wrapper">
        <input class="search__input" type="text" placeholder="Поиск по сайту" />
        <img
          class="search__img"
          src="../images/search-img/search-icon.svg"
          alt=""
        />
      </div>
      <!--=include search-table.html -->
    </div>
  </div>
</section>
<div class="html-list container">
  <div class="cell">
    <div class="cell__lable">A</div>
    <div class="cell__table">
      <div class="cell__item">
        <div class="cell__item-title"></div>
        <img class="cell__item-icon" src="" alt="" />
      </div>
    </div>
  </div>
</div>
