<nav class="menu-type">
  <div class="menu-type__title">Типы тегов</div>
  <ul>
    <li>
      <a href="#"
        ><div class="menu-type__cell flex">
          <img
            class="menu-type__cell-icon"
            src="../images/menu-type-img/html-icon.svg"
            alt=""
          />
          <p>HTML 5</p>
          <img
            class="menu-type__cell-arrow"
            src="../images/menu-type-img/arrow-right-icon.svg"
            alt=""
          /></div
      ></a>
    </li>
    <li>
      <a href="#"
        ><div class="menu-type__cell flex">
          <img
            class="menu-type__cell-icon"
            src="../images/menu-type-img/block-icon.svg"
            alt=""
          />
          <p>Блочные элементы</p>
          <img
            class="menu-type__cell-arrow"
            src="../images/menu-type-img/arrow-right-icon.svg"
            alt=""
          /></div
      ></a>
    </li>
    <li>
      <a href="#"
        ><div class="menu-type__cell flex">
          <img
            class="menu-type__cell-icon"
            src="../images/menu-type-img/row-icon.svg"
            alt=""
          />
          <p>Строчные элементы</p>
          <img
            class="menu-type__cell-arrow"
            src="../images/menu-type-img/arrow-right-icon.svg"
            alt=""
          /></div
      ></a>
    </li>
    <li>
      <a href="#"
        ><div class="menu-type__cell flex">
          <img
            class="menu-type__cell-icon"
            src="../images/menu-type-img/universal-tag.svg"
            alt=""
          />
          <p>Универсальные элементы</p>
          <img
            class="menu-type__cell-arrow"
            src="../images/menu-type-img/arrow-right-icon.svg"
            alt=""
          /></div
      ></a>
    </li>
    <li>
      <a href="#"
        ><div class="menu-type__cell flex">
          <img
            class="menu-type__cell-icon"
            src="../images/menu-type-img/custom-icon.svg"
            alt=""
          />
          <p>Нестандартные теги</p>
          <img
            class="menu-type__cell-arrow"
            src="../images/menu-type-img/arrow-right-icon.svg"
            alt=""
          /></div
      ></a>
    </li>
    <li>
      <a href="#"
        ><div class="menu-type__cell flex">
          <img
            class="menu-type__cell-icon"
            src="../images/menu-type-img/condemned-icon.svg"
            alt=""
          />
          <p>Осуждаемые теги</p>
          <img
            class="menu-type__cell-arrow"
            src="../images/menu-type-img/arrow-right-icon.svg"
            alt=""
          /></div
      ></a>
    </li>
    <li>
      <a href="#"
        ><div class="menu-type__cell flex">
          <img
            class="menu-type__cell-icon"
            src="../images/menu-type-img/video-icon.svg"
            alt=""
          />
          <p>Видео</p>
          <img
            class="menu-type__cell-arrow"
            src="../images/menu-type-img/arrow-right-icon.svg"
            alt=""
          /></div
      ></a>
    </li>
    <li>
      <a href="#"
        ><div class="menu-type__cell flex">
          <img
            class="menu-type__cell-icon"
            src="../images/menu-type-img/document-icon.svg"
            alt=""
          />
          <p>Документ</p>
          <img
            class="menu-type__cell-arrow"
            src="../images/menu-type-img/arrow-right-icon.svg"
            alt=""
          /></div
      ></a>
    </li>
    <li>
      <a href="#"
        ><div class="menu-type__cell flex">
          <img
            class="menu-type__cell-icon"
            src="../images/menu-type-img/sound-icon.svg"
            alt=""
          />
          <p>Звук</p>
          <img
            class="menu-type__cell-arrow"
            src="../images/menu-type-img/arrow-right-icon.svg"
            alt=""
          /></div
      ></a>
    </li>
    <li>
      <a href="#"
        ><div class="menu-type__cell flex">
          <img
            class="menu-type__cell-icon"
            src="../images/menu-type-img/image-icon.svg"
            alt=""
          />
          <p>Изображение</p>
          <img
            class="menu-type__cell-arrow"
            src="../images/menu-type-img/arrow-right-icon.svg"
            alt=""
          /></div
      ></a>
    </li>
    <li>
      <a href="#"
        ><div class="menu-type__cell flex">
          <img
            class="menu-type__cell-icon"
            src="../images/menu-type-img/objects-icon.svg"
            alt=""
          />
          <p>Объекты</p>
          <img
            class="menu-type__cell-arrow"
            src="../images/menu-type-img/arrow-right-icon.svg"
            alt=""
          /></div
      ></a>
    </li>
    <li>
      <a href="#"
        ><div class="menu-type__cell flex">
          <img
            class="menu-type__cell-icon"
            src="../images/menu-type-img/scripts-icon.svg"
            alt=""
          />
          <p>Скрипты</p>
          <img
            class="menu-type__cell-arrow"
            src="../images/menu-type-img/arrow-right-icon.svg"
            alt=""
          /></div
      ></a>
    </li>
    <li>
      <a href="#"
        ><div class="menu-type__cell flex">
          <img
            class="menu-type__cell-icon"
            src="../images/menu-type-img/list-icon.svg"
            alt=""
          />
          <p>Списки</p>
          <img
            class="menu-type__cell-arrow"
            src="../images/menu-type-img/arrow-right-icon.svg"
            alt=""
          /></div
      ></a>
    </li>
    <li>
      <a href="#"
        ><div class="menu-type__cell flex">
          <img
            class="menu-type__cell-icon"
            src="../images/menu-type-img/link-icon.svg"
            alt=""
          />
          <p>Ссылки</p>
          <img
            class="menu-type__cell-arrow"
            src="../images/menu-type-img/arrow-right-icon.svg"
            alt=""
          /></div
      ></a>
    </li>
    <li>
      <a href="#"
        ><div class="menu-type__cell flex">
          <img
            class="menu-type__cell-icon"
            src="../images/menu-type-img/tables-icon.svg"
            alt=""
          />
          <p>Таблицы</p>
          <img
            class="menu-type__cell-arrow"
            src="../images/menu-type-img/arrow-right-icon.svg"
            alt=""
          /></div
      ></a>
    </li>
    <li>
      <a href="#"
        ><div class="menu-type__cell flex">
          <img
            class="menu-type__cell-icon"
            src="../images/menu-type-img/text-icon.svg"
            alt=""
          />
          <p>Текст</p>
          <img
            class="menu-type__cell-arrow"
            src="../images/menu-type-img/arrow-right-icon.svg"
            alt=""
          /></div
      ></a>
    </li>
    <li>
      <a href="#"
        ><div class="menu-type__cell flex">
          <img
            class="menu-type__cell-icon"
            src="../images/menu-type-img/formated-icon.svg"
            alt=""
          />
          <p>Форматирование</p>
          <img
            class="menu-type__cell-arrow"
            src="../images/menu-type-img/arrow-right-icon.svg"
            alt=""
          /></div
      ></a>
    </li>
    <li>
      <a href="#"
        ><div class="menu-type__cell flex">
          <img
            class="menu-type__cell-icon"
            src="../images/menu-type-img/forms-icon.svg"
            alt=""
          />
          <p>Формы</p>
          <img
            class="menu-type__cell-arrow"
            src="../images/menu-type-img/arrow-right-icon.svg"
            alt=""
          /></div
      ></a>
    </li>
    <li>
      <a href="#"
        ><div class="menu-type__cell flex">
          <img
            class="menu-type__cell-icon"
            src="../images/menu-type-img/frames-icon.svg"
            alt=""
          />
          <p>Фреймы</p>
          <img
            class="menu-type__cell-arrow"
            src="../images/menu-type-img/arrow-right-icon.svg"
            alt=""
          /></div
      ></a>
    </li>
  </ul>
</nav>
