<div class="search__table">
  <div class="search__table-item flex">
    <div class="search__table-item-title">!adress</div>
    <img
      class="search__table-item-icon"
      src="../images/table-img/table-item-icon.svg"
      alt=""
    />
  </div>
  <div class="search__table-item flex">
    <div class="search__table-item-title">!adress</div>
    <img
      class="search__table-item-icon"
      src="../images/table-img/table-item-icon.svg"
      alt=""
    />
  </div>
  <div class="search__table-item flex">
    <div class="search__table-item-title">!adress</div>
    <img
      class="search__table-item-icon"
      src="../images/table-img/table-item-icon.svg"
      alt=""
    />
  </div>
  <div class="search__table-item flex">
    <div class="search__table-item-title">!adress</div>
    <img
      class="search__table-item-icon"
      src="../images/table-img/table-item-icon.svg"
      alt=""
    />
  </div>
  <div class="search__table-item flex">
    <div class="search__table-item-title">!adress</div>
    <img
      class="search__table-item-icon"
      src="../images/table-img/table-item-icon.svg"
      alt=""
    />
  </div>
  <div class="search__table-item flex">
    <div class="search__table-item-title">!adress</div>
    <img
      class="search__table-item-icon"
      src="../images/table-img/table-item-icon.svg"
      alt=""
    />
  </div>
  <div class="search__table-item flex">
    <div class="search__table-item-title">!adress</div>
    <img
      class="search__table-item-icon"
      src="../images/table-img/table-item-icon.svg"
      alt=""
    />
  </div>
  <div class="search__table-item flex">
    <div class="search__table-item-title">!adress</div>
    <img
      class="search__table-item-icon"
      src="../images/table-img/table-item-icon.svg"
      alt=""
    />
  </div>
  <div class="search__table-item flex">
    <div class="search__table-item-title">!adress</div>
    <img
      class="search__table-item-icon"
      src="../images/table-img/table-item-icon.svg"
      alt=""
    />
  </div>
  <div class="search__table-item flex">
    <div class="search__table-item-title">!adress</div>
    <img
      class="search__table-item-icon"
      src="../images/table-img/table-item-icon.svg"
      alt=""
    />
  </div>
  <div class="search__table-item flex">
    <div class="search__table-item-title">!adress</div>
    <img
      class="search__table-item-icon"
      src="../images/table-img/table-item-icon.svg"
      alt=""
    />
  </div>
  <div class="search__table-item flex">
    <div class="search__table-item-title">!adress</div>
    <img
      class="search__table-item-icon"
      src="../images/table-img/table-item-icon.svg"
      alt=""
    />
  </div>
  <div class="search__table-item flex">
    <div class="search__table-item-title">!adress</div>
    <img
      class="search__table-item-icon"
      src="../images/table-img/table-item-icon.svg"
      alt=""
    />
  </div>
  <div class="search__table-item flex">
    <div class="search__table-item-title">!adress</div>
    <img
      class="search__table-item-icon"
      src="../images/table-img/table-item-icon.svg"
      alt=""
    />
  </div>
  <div class="search__table-item flex">
    <div class="search__table-item-title">!adress</div>
    <img
      class="search__table-item-icon"
      src="../images/table-img/table-item-icon.svg"
      alt=""
    />
  </div>
  <div class="search__table-item flex">
    <div class="search__table-item-title">!adress</div>
    <img
      class="search__table-item-icon"
      src="../images/table-img/table-item-icon.svg"
      alt=""
    />
  </div>
  <div class="search__table-item flex">
    <div class="search__table-item-title">!adress</div>
    <img
      class="search__table-item-icon"
      src="../images/table-img/table-item-icon.svg"
      alt=""
    />
  </div>
  <div class="search__table-item flex">
    <div class="search__table-item-title">!adress</div>
    <img
      class="search__table-item-icon"
      src="../images/table-img/table-item-icon.svg"
      alt=""
    />
  </div>
  <div class="search__table-item flex">
    <div class="search__table-item-title">!adress</div>
    <img
      class="search__table-item-icon"
      src="../images/table-img/table-item-icon.svg"
      alt=""
    />
  </div>
  <div class="search__table-item flex">
    <div class="search__table-item-title">!adress</div>
    <img
      class="search__table-item-icon"
      src="../images/table-img/table-item-icon.svg"
      alt=""
    />
  </div>
  <div class="search__table-item flex">
    <div class="search__table-item-title">!adress</div>
    <img
      class="search__table-item-icon"
      src="../images/table-img/table-item-icon.svg"
      alt=""
    />
  </div>
  <div class="search__table-item flex">
    <div class="search__table-item-title">!adress</div>
    <img
      class="search__table-item-icon"
      src="../images/table-img/table-item-icon.svg"
      alt=""
    />
  </div>
  <div class="search__table-item flex">
    <div class="search__table-item-title">!adress</div>
    <img
      class="search__table-item-icon"
      src="../images/table-img/table-item-icon.svg"
      alt=""
    />
  </div>
  <div class="search__table-item flex">
    <div class="search__table-item-title">!adress</div>
    <img
      class="search__table-item-icon"
      src="../images/table-img/table-item-icon.svg"
      alt=""
    />
  </div>
  <div class="search__table-item flex">
    <div class="search__table-item-title">!adress</div>
    <img
      class="search__table-item-icon"
      src="../images/table-img/table-item-icon.svg"
      alt=""
    />
  </div>
  <div class="search__table-item flex">
    <div class="search__table-item-title">!adress</div>
    <img
      class="search__table-item-icon"
      src="../images/table-img/table-item-icon.svg"
      alt=""
    />
  </div>
  <div class="search__table-item flex">
    <div class="search__table-item-title">!adress</div>
    <img
      class="search__table-item-icon"
      src="../images/table-img/table-item-icon.svg"
      alt=""
    />
  </div>
  <div class="search__table-item flex">
    <div class="search__table-item-title">!adress</div>
    <img
      class="search__table-item-icon"
      src="../images/table-img/table-item-icon.svg"
      alt=""
    />
  </div>
  <div class="search__table-item flex">
    <div class="search__table-item-title">!adress</div>
    <img
      class="search__table-item-icon"
      src="../images/table-img/table-item-icon.svg"
      alt=""
    />
  </div>
  <div class="search__table-item flex">
    <div class="search__table-item-title">!adress</div>
    <img
      class="search__table-item-icon"
      src="../images/table-img/table-item-icon.svg"
      alt=""
    />
  </div>
</div>
