<section class="supported-list">
  <div class="supported-list__item">
    <div class="supported-list__header flex">
      <div class="supported-list__title">Chrome</div>
      <img
        class="supported-list__icon"
        src="../images/supported-list-img/chrome-icon.svg"
        alt=""
      />
    </div>
    <div class="supported-list__tabs-wrap">
      <div class="supported-list__tab"></div>
      <div class="supported-list__tab supported-list__tab_green">118</div>
      <div class="supported-list__tab supported-list__tab_green">4-117</div>
      <div class="supported-list__tab supported-list__tab_green">119-121</div>
    </div>
  </div>
  <div class="supported-list__item">
    <div class="supported-list__header flex">
      <div class="supported-list__title">Chrome</div>
      <img
        class="supported-list__icon"
        src="../images/supported-list-img/chrome-icon.svg"
        alt=""
      />
    </div>
    <div class="supported-list__tabs-wrap">
      <div class="supported-list__tab"></div>
      <div class="supported-list__tab supported-list__tab_green">118</div>
      <div class="supported-list__tab supported-list__tab_green">4-117</div>
      <div class="supported-list__tab supported-list__tab_green">119-121</div>
    </div>
  </div>
  <div class="supported-list__item">
    <div class="supported-list__header flex">
      <div class="supported-list__title">Chrome</div>
      <img
        class="supported-list__icon"
        src="../images/supported-list-img/chrome-icon.svg"
        alt=""
      />
    </div>
    <div class="supported-list__tabs-wrap">
      <div class="supported-list__tab"></div>
      <div class="supported-list__tab supported-list__tab_gray">118</div>
      <div class="supported-list__tab supported-list__tab_green">4-117</div>
      <div class="supported-list__tab supported-list__tab_green">119-121</div>
    </div>
  </div>
  <div class="supported-list__item">
    <div class="supported-list__header flex">
      <div class="supported-list__title">Chrome</div>
      <img
        class="supported-list__icon"
        src="../images/supported-list-img/chrome-icon.svg"
        alt=""
      />
    </div>
    <div class="supported-list__tabs-wrap">
      <div class="supported-list__tab"></div>
      <div class="supported-list__tab supported-list__tab_green">118</div>
      <div class="supported-list__tab supported-list__tab_green">4-117</div>
      <div class="supported-list__tab supported-list__tab_green">119-121</div>
    </div>
  </div>
  <div class="supported-list__item">
    <div class="supported-list__header flex">
      <div class="supported-list__title">Chrome</div>
      <img
        class="supported-list__icon"
        src="../images/supported-list-img/chrome-icon.svg"
        alt=""
      />
    </div>
    <div class="supported-list__tabs-wrap">
      <div class="supported-list__tab"></div>
      <div class="supported-list__tab supported-list__tab_green">118</div>
      <div class="supported-list__tab supported-list__tab_green">4-117</div>
      <div class="supported-list__tab supported-list__tab_green">119-121</div>
    </div>
  </div>
  <div class="supported-list__item">
    <div class="supported-list__header flex">
      <div class="supported-list__title">Chrome</div>
      <img
        class="supported-list__icon"
        src="../images/supported-list-img/chrome-icon.svg"
        alt=""
      />
    </div>
    <div class="supported-list__tabs-wrap">
      <div class="supported-list__tab"></div>
      <div class="supported-list__tab supported-list__tab_green">118</div>
      <div class="supported-list__tab supported-list__tab_red">4-117</div>
      <div class="supported-list__tab supported-list__tab_green">119-121</div>
    </div>
  </div>
  <div class="supported-list__item">
    <div class="supported-list__header flex">
      <div class="supported-list__title">Chrome</div>
      <img
        class="supported-list__icon"
        src="../images/supported-list-img/chrome-icon.svg"
        alt=""
      />
    </div>
    <div class="supported-list__tabs-wrap">
      <div class="supported-list__tab"></div>
      <div class="supported-list__tab supported-list__tab_green">118</div>
      <div class="supported-list__tab supported-list__tab_green">4-117</div>
      <div class="supported-list__tab supported-list__tab_green">119-121</div>
    </div>
  </div>
  <div class="supported-list__item">
    <div class="supported-list__header flex">
      <div class="supported-list__title">Chrome</div>
      <img
        class="supported-list__icon"
        src="../images/supported-list-img/chrome-icon.svg"
        alt=""
      />
    </div>
    <div class="supported-list__tabs-wrap">
      <div class="supported-list__tab"></div>
      <div class="supported-list__tab supported-list__tab_green">118</div>
      <div class="supported-list__tab supported-list__tab_green">4-117</div>
      <div class="supported-list__tab supported-list__tab_green">119-121</div>
    </div>
  </div>
  <div class="supported-list__item">
    <div class="supported-list__header flex">
      <div class="supported-list__title">Chrome</div>
      <img
        class="supported-list__icon"
        src="../images/supported-list-img/chrome-icon.svg"
        alt=""
      />
    </div>
    <div class="supported-list__tabs-wrap">
      <div class="supported-list__tab"></div>
      <div class="supported-list__tab supported-list__tab_green">118</div>
      <div class="supported-list__tab supported-list__tab_green">4-117</div>
      <div class="supported-list__tab supported-list__tab_gray">119-121</div>
    </div>
  </div>
  <div class="supported-list__item">
    <div class="supported-list__header flex">
      <div class="supported-list__title">Chrome</div>
      <img
        class="supported-list__icon"
        src="../images/supported-list-img/chrome-icon.svg"
        alt=""
      />
    </div>
    <div class="supported-list__tabs-wrap">
      <div class="supported-list__tab supported-list__tab_red"></div>
      <div class="supported-list__tab supported-list__tab_green">118</div>
      <div class="supported-list__tab supported-list__tab_green">4-117</div>
      <div class="supported-list__tab supported-list__tab_green">119-121</div>
    </div>
  </div>
</section>
