<section class="support flex">
  <div class="window">
    <div class="window__header flex">
      <div class="window__header-icon">
        <img src="../images/window-img/toolbar-icon.svg" alt="" />
      </div>
      <div class="window__header-website-wrap flex">
        <div class="window__header-website-icon">
          <img src="../images/window-img/Lock.svg" alt="" />
        </div>
        <div class="window__header-website-title">htmlpractice.com</div>
      </div>
    </div>
    <div class="window__support">
      <div class="window__support-text">
        Если не все понятно из опиания, вы можете задать свои вопросы бесплатно
        в нашем телеграм канале
      </div>
      <button class="btn-main w-247">
        <div class="btn__title">Перейти</div>
        <img class="btn__img" src="../images/btn-img/telegram-img.svg" alt="" />
      </button>
      <div class="window__support-img-wrap">
        <img
          class="window__support-img"
          src="../images/support-img/support-img.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
